**1 The re module**

In [1]:
import re   #python build in package for regex

**1.1 re.search()**

In [2]:
text="""
  Hello World.
  I love Python!!!!!
  My first lucky number is 987-654-321
  My second lucky number is 878-543-210
  My third lucky number is 767-432-100
  My fourth lucky number is 123-456-123-123-456
  """

In [11]:
#return the first match
re.search(r'\d', text)

In [12]:
#flags
re.search(r'hello', text, flags=re.I)

**2 re.findall()**

In [14]:
#return all the matches
re.findall(r'\d', text)

['9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '8',
 '7',
 '8',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '7',
 '6',
 '7',
 '4',
 '3',
 '2',
 '1',
 '0',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6']

**3 Excercises**

In [19]:
#match only punctuation
re.findall(r'\W', text)

['\n',
 ' ',
 ' ',
 ' ',
 '.',
 '\n',
 ' ',
 ' ',
 ' ',
 ' ',
 '!',
 '!',
 '!',
 '!',
 '!',
 '\n',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '-',
 '-',
 '\n',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '-',
 '-',
 '\n',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '-',
 '-',
 '\n',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '-',
 '-',
 '-',
 '-',
 '\n',
 ' ',
 ' ']

In [42]:
#match the right date format(MM-DD-YYYY)
id_date='''
13-04-2021
2021-13-04
2021-04-13
'''
re.findall(r'\d{2}-\d{2}-\d{4}', id_date)

['13-04-2021']

In [29]:
#match right username format(4-14 characters and only digits and letters)
password='''
username10
abc
10
'''

re.findall(r'\w{4,14}\d+', password)

['username10']